.area {
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "area-active area-selected"
        "area-active area-selected";
}

.area-active{
    grid-area: area-active;
}
.area-selected {
    grid-area: area-selected;
}
